<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Test</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container" id="app">
        <h2 class="h2">ToDoList</h2>
        <div class="row">
            <div class="col taskCounter-container">
                <p>Tasks counter:</p>
            </div>
            <div class="col-10 taskCounter-container2">
                <p v-text="taskCounter"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <input type="text" class="input-group-text" id="taskTextArea" v-model="taskText">
            </div>
            <div class="col">
                <button class="btn btn-primary custom-btn" v-on:click="addTaskToTuskList">add</button>
            </div>
        </div>
        <div class="row" id="toDoListContent">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item text-center special-style" v-for="(todo, key) in todos" v-bind:id="todo.id">
                        <button class="btn btn-primary redactBtn" v-on:click="changeTask(key)"></button>
                        {{todo.text}}
                        <input type="text" class="form-control changingForm" v-show="todo.active" v-model="changeText">
                        <button class="btn btn-success btn-apply-chng" v-show="todo.active" v-on:click="applyChange(key)">apply changes</button>
                        <button class="btn btn-danger" v-on:click="deleteTask(key)" v-bind:class="{showEl: todo.active}">delete</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>